*{
    margin: 0;
    padding: 0;
}

body{
   
}

.police-kablammo{
    font-family: "kablammo";
}
.police-poppins{
    font-family: "poppins";
}

.text-jaune{
    background-color: #05cdff;
    
}

.textbleu{
    background-color: #ddebeb;
}
.espacement-lignes{
    line-height: 1.5;
}

.card:hover {
    transition: ease, 0.3;
    background-color: #b6e3ee;
}
.hero {
    background: linear-gradient(rgb(246, 246, 248),rgb(218, 223, 72));
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.texbg{
    background-color: #90a1da;
}

.txt{
    background-color: #f799ef;
}