*{
    margin: 0;
    padding: 0;
}



.police-kablammo{
    font-family: "kablammo";
}
.police-poppins{
    font-family: "poppins";
}

.text-jaune{
    background-color: #05cdff;
    
}

.textbleu{
    background-color: #ddebeb;
}
.espacement-lignes{
    line-height: 1.5;
}

.card:hover {
    transition: ease, 0.3;
    background-color: #b6e3ee;
}
.hero {
    background: linear-gradient(rgb(246, 246, 248),rgb(218, 223, 72));
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: center;
    width: 100%;
    height: 450px;
    border-radius: 30px;
}

.texbg{
    background-color: #90a1da;
}

.txt{
    background-color: #f799ef;
}


.carousel-item {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Vous pouvez modifier la largeur de la card selon vos préférences */
  .roule {
    width: 50%;
    background-color: #dbe1f8;
  }
  .col{
    background-color: #f8de86;
    
  }

  .gris{
    background-color: #e2edef;
  }

@media (max-width: 768px) {
    .aropos{
        margin-top: 50px;
    } 
}